<div title="{{schedule.start | timeOfDay}} - {{schedule.end | timeOfDay}}">
  <div class="handle left" ondrag="resize" ondragstart="startResizeStart" ondragstop="endDrag" handle></div>
  <div ondrag="drag" ondragstart="startDrag" ondragstop="endDrag" handle>{{schedule.start | timeOfDay}} - {{schedule.end | timeOfDay}}</div>
  <div class="handle right" ondrag="resize" ondragstart="startResizeEnd" ondragstop="endDrag" handle></div>
  <div class="remove" ng-click="deleteSelf()" ng-if="::canRemove()"><span class="glyphicon glyphicon-remove"></span></div>
</div>