<div class="slotWrapper" ng-class="weeklySlotCtrl.slotWrapperClass" title="{{weeklySlotCtrl.schedule.start | rrWeeklySchedulerTimeOfDay}} - {{weeklySlotCtrl.schedule.end | rrWeeklySchedulerTimeOfDay}}">
  <div class="handle" config="weeklySlotCtrl.config" ng-class="weeklySlotCtrl.startHandleClass" ondrag="weeklySlotCtrl.resizeStart(delta)" ondragstart="weeklySlotCtrl.startResize()" ondragstop="weeklySlotCtrl.endResize()" rr-handle ng-if="!weeklySlotCtrl.config.nullEnds"></div>
  <div class="middle" config="weeklySlotCtrl.config" ondrag="weeklySlotCtrl.drag(delta)" ondragstart="weeklySlotCtrl.startDrag()" ondragstop="weeklySlotCtrl.endDrag()" rr-handle immediate="weeklySlotCtrl.hasDragSchedule">
    <rr-time-range schedule="weeklySlotCtrl.schedule"></rr-time-range>
  </div>
  <div class="handle" config="weeklySlotCtrl.config" ng-class="weeklySlotCtrl.endHandleClass" ondrag="weeklySlotCtrl.resizeEnd(delta)" ondragstart="weeklySlotCtrl.startResize()" ondragstop="weeklySlotCtrl.endResize()" rr-handle ng-if="!weeklySlotCtrl.config.nullEnds"></div>
</div>