<div class="ghost-wrapper" br-handle ondragstart="multiSliderCtrl.onGhostWrapperMouseDown(event)" ondragstop="multiSliderCtrl.onGhostWrapperMouseUp()" ondrag="multiSliderCtrl.onGhostWrapperMouseMove(event)">
    <br-ghost-slot class="slot"
                   ng-if="multiSliderCtrl.canRenderGhost()"
                   ng-class="{
                      active: multiSliderCtrl.renderGhost,
                      nullEnd: multiSliderCtrl.config.nullEnds
                   }"
                   ng-style="{
                      left: multiSliderCtrl.getSlotLeft(multiSliderCtrl.ghostValues.left),
                      right: multiSliderCtrl.getSlotRight(multiSliderCtrl.ghostValues.left, multiSliderCtrl.ghostValues.right)
                   }">
        <div class="slotWrapper">
            <div class="middle fullWidth">
                <span ng-if="!multiSliderCtrl.config.nullEnds">{{ multiSliderCtrl.ghostValues.left | brWeeklySchedulerTimeOfDay }} - {{ multiSliderCtrl.ghostValues.right | brWeeklySchedulerTimeOfDay }}</span>
                <span ng-if="multiSliderCtrl.config.nullEnds">{{ multiSliderCtrl.ghostValues.left | brWeeklySchedulerTimeOfDay }} until</span>
            </div>
        </div>
    </br-ghost-slot>

    <br-weekly-slot class="slot {{ schedule.$class }}"
                config="multiSliderCtrl.config"
                ng-class="{
                    active: schedule.$isActive,
                    disable: multiSliderCtrl.item.editable === false,
                    nullEnd: schedule.end === null,
                    pending: schedule.$isEditing
                }"
                ng-repeat="schedule in multiSliderCtrl.item.schedules"
                ng-model="schedule"
                ng-style="{
                    left: multiSliderCtrl.getSlotLeft(schedule.start),
                    right: multiSliderCtrl.getSlotRight(schedule.start, schedule.end)
                }"
                edit-schedule="multiSliderCtrl.editSchedule(schedule)"
    ></br-weekly-slot>
</div>