<div class="slot ghost" ng-click="onHoverElementClick()" ng-show="item.editable !== false && (!schedulerCtrl.config.monoSchedule || !item.schedules.length)">{{schedulerCtrl.config.labels.addNew || 'Add New'}}</div>

<weekly-slot class="slot"
             ng-class="{disable: item.editable === false}"
             ng-repeat="schedule in item.schedules"
             ng-model="schedule"
             ng-model-options="{ updateOn: 'default blur' }"
             ng-mouseleave="onWeeklySlotMouseLeave()"
             ng-mouseover="onWeeklySlotMouseOver()"
             ng-style="{
                left: getSlotLeft(schedule),
                width: getSlotWidth(schedule) 
             }"
></weekly-slot>