@handleWidth: 10px;
@headerRowHeight: 15px;
@offset: 5px;
@rowHeight: 28px;

@backgroundColor: #fff;

@borderColor: #ddd;
@darkBorderColor: #fff;

@borderStyle: solid;
@borderWidth: 1px;

@stripeColor: #f6f6f6;
@darkStripeColor: #333;

@border: @borderWidth @borderStyle @borderColor;
@darkBorder: @borderWidth @borderStyle @darkBorderColor;

.applyTheme(@backgroundColor, @borderColor) {
  @border: @borderWidth @borderStyle @borderColor;

  background: @backgroundColor;
  border-left: @border;
  border-right: @border;
  border-top: @border;
}

.weekly-schedule-border {
  border-right: @border;
}

weekly-scheduler {
  .applyTheme(@backgroundColor, @borderColor);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;

  /* The dark class will be applied by a client on the outside of this component */
  .dark & {
    .applyTheme(@backgroundColor, @darkBorderColor);

    .labels, .timestamps {
      background-color: #1c1c1c;
      color: @backgroundColor;
    }
  }

  .labels {
    .weekly-schedule-border;
    display: block;
    float: left;
    text-align: center;
    
    .dummy {
      height: @headerRowHeight;
    }

    .srow {
      padding: 0 5px;
    }
  }
  
  schedule-area-container {
    display: block;
    overflow-x: auto;
  }

  .srow {
    border-bottom: @border;
    position: relative;
    height: @rowHeight;
    line-height: @rowHeight;
  }

  .calendar {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
  }

  .striped div:nth-child(even) {
    background: @stripeColor;
  }

  .timestamps {
    display: table;
    font-size: 0.6em;
    font-weight: bold;
    line-height: @headerRowHeight;
    height: @headerRowHeight;
    table-layout: fixed;
    text-transform: uppercase;
    width: 100%;

    div {
      border-width: 2px;
      overflow: hidden;
      padding: 0 5px;
      text-overflow: clip;

      &:hover {
        background-color: @stripeColor;
        cursor: pointer;
      }
    }
  }
}

hourly-grid {
  display: table-row;

  div {
    border-right: @border;
    box-sizing: border-box;
    display: table-cell;
    height: 100%;
  }

  .interval {
    display: block;
    float: left;
  }
}

multi-slider {
  @topOffset: @offset;
  @bottomOffset: @offset;
  @lineHeight: @rowHeight - @topOffset - @bottomOffset;

  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;

  .slot {
    position: absolute;
    top: @topOffset;
    bottom: @bottomOffset;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    line-height: @lineHeight;
    color: #fff;
  }

  .ghost {
    background: #5ab57a;
    opacity: 0.6;
    display: none;
    cursor: pointer;
  }

  &:hover {
    .ghost {
      display: block;
    }
  }

  &.slot-hover {
    .ghost {
      display: none;
    }
  }

  &.dragging .ghost {
    display: none;
  }

  weekly-slot {
    -webkit-transition: background 0.1s ease-in;
    cursor: all-scroll;
    min-width: @handleWidth !important;
    background: #2e81e1;

    &.disable {
      cursor: not-allowed;
      color: #666;
      background: #c0c0c0;
    }

    .handle {
      position: absolute;
      top: 0;
      bottom: 0;

      &.left, &.right {
        width: @handleWidth;
        background: #000;
        cursor: col-resize;
        opacity: 0.1;
      }
    }

    &.disable {
      .handle {
        cursor: not-allowed;
      }
    }

    .middle {
      overflow: hidden;
      font-family: monospace;
      font-size: x-small;
      margin: 0 (@handleWidth * 1.5);
      text-overflow: ellipsis;
    }

    .handle {
      &.left:hover, &.right:hover {
        opacity: 0.3;
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    &:not(.disable) {
      .remove {
        @removeWidth: @lineHeight;

        display: none;
        cursor: pointer;
        float: right;
        margin-right: -(@removeWidth + @offset);
        width: @removeWidth;
        background: red;
        border-radius: 20%;
        opacity: 0.5;
        transform: translateY(-100%);

        /** This pseudo-element is present to prevent the user from seeing the 'Add' slot when moving the mouse from a weekly-slot to its own 'remove' button */
        &:before {
          position: absolute;
          content: "";
          left: -@offset;
          width: @offset * 2;
          height: @lineHeight;
        }
      }
    }

    &:hover {
      .remove {
        display: block;
      }
    }

    .remove {
      &:hover {
        opacity: 1;
      }
    }

    &.active {
      z-index: 10;
      background: #5ab57a;
      color: #fff;
    }
  }
}

.grid-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;

  div {
    box-sizing: border-box;
    float: left;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
}

/*--------------------------------------------------------------- Animations */
.schedule-animate {
  transition: opacity 200ms ease-out;

  &.ng-enter, &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-leave, &.ng-hide-add {
    display: none;
    opacity: 1;
  }
}
