<div ng-if="!schedulerCtrl.invalidMessage">
  <div class="labels">
    <div class="srow dummy"></div>
    <div class="srow schedule-animate" ng-repeat="item in schedulerCtrl.items track by item.day">
      {{ item.label }}
    </div>
  </div>

  <br-schedule-area-container>
    <div class="schedule-area">

      <div class="srow timestamps">
        <br-hourly-grid></br-hourly-grid>
      </div>

      <div class="srow calendar schedule-animate" ng-repeat="item in schedulerCtrl.items track by item.day">
        <br-hourly-grid no-text></br-hourly-grid>
        <br-multi-slider config="schedulerCtrl.config"
                        br-full-calendar="{{ schedulerCtrl.config.fullCalendar }}"
                        br-max-time-slot="{{ schedulerCtrl.config.maxTimeSlot }}"
                        br-minimum-separation="{{ schedulerCtrl.config.minimumSeparation }}"
                        br-mono-schedule="{{ schedulerCtrl.config.monoSchedule }}"
                        br-null-end="{{ schedulerCtrl.config.nullEnds }}"
                        br-schedule-count="{{ schedulerCtrl.config.scheduleCountOptions && schedulerCtrl.config.scheduleCountOptions.count }}"
                        br-overlap
                        br-revalidate
                        drag-schedule="schedulerCtrl.dragSchedule"
                        ghost-values="schedulerCtrl.ghostValues"
                        ng-model="item"
                        ng-model-options="{allowInvalid: true}"
                        set-ghost-values="schedulerCtrl.setGhostValues(ghostValues)"
        ></br-multi-slider>
      </div>
    </div>
  </br-schedule-area-container>

  <br-restriction-explanations></br-restriction-explanations>

  <div class="srow buttons">
    <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.rollback()" ng-disabled="!schedulerCtrl.formController.$dirty">Reset</button>
    <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.save()" ng-disabled="!schedulerCtrl.formController.$dirty || !schedulerCtrl.formController.$valid" ng-if="schedulerCtrl.config.saveScheduler">Save</button>
    <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.resetZoom()">Zoom Out</button>
    <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.zoomIn()">Zoom In</button>
  </div>
</div>

<div ng-if="!schedulerCtrl.invalidMessage">
    <div class="labels">
      <div class="srow dummy"></div>
      <div class="srow schedule-animate" ng-repeat="item in schedulerCtrl.verticalTicks track by item">
        {{ item }}
      </div>
    </div>
  
    <br-schedule-area-container>
      <div class="schedule-area">
  
        <div class="srow timestamps">
          <br-daily-grid></br-daily-grid>
        </div>
  
        <div class="vertical-multi-slider-area">
          <div class="calendar-overlay">
            <div class="calendar">
              <br-daily-grid no-text></br-daily-grid>
            </div>
          </div>

          <div class="srow calendar schedule-animate" ng-repeat="item in schedulerCtrl.verticalTicks track by item">
            <br-daily-grid no-text></br-daily-grid>
          </div>
        </div>
      </div>
    </br-schedule-area-container>
  
    <br-restriction-explanations></br-restriction-explanations>
  
    <div class="srow buttons">
      <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.rollback()" ng-disabled="!schedulerCtrl.formController.$dirty">Reset</button>
      <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.save()" ng-disabled="!schedulerCtrl.formController.$dirty || !schedulerCtrl.formController.$valid" ng-if="schedulerCtrl.config.saveScheduler">Save</button>
      <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.resetZoom()">Zoom Out</button>
      <button ng-class="schedulerCtrl.config.buttonClasses" type="button" ng-click="schedulerCtrl.zoomIn()">Zoom In</button>
    </div>
</div>

<div class="srow" ng-if="schedulerCtrl.invalidMessage">
  {{ schedulerCtrl.invalidMessage }}
</div>