<div ng-if="!schedulerCtrl.hasInvalidSchedule">
  <div class="labels">
    <div class="srow dummy"></div>
    <div class="srow schedule-animate" ng-repeat="item in schedulerCtrl.items">
      {{ item.label }}
    </div>
  </div>

  <schedule-area-container>
    <div class="schedule-area">

      <div class="srow timestamps">
        <hourly-grid></hourly-grid>
      </div>

      <div class="srow calendar schedule-animate" ng-repeat="item in schedulerCtrl.items">
        <hourly-grid no-text></hourly-grid>
        <multi-slider config="schedulerCtrl.config" item="item" index="$index"></multi-slider>
      </div>
    </div>
  </schedule-area-container>

  <div class="srow buttons">
    <div ng-click="schedulerCtrl.rollback()" ng-transclude="resetButton"><button type="button">Reset</button></div> 
    <div ng-click="schedulerCtrl.save()" ng-transclude="saveButton"><button type="button">Save</button></div> 
    <div ng-click="schedulerCtrl.resetZoom()" ng-transclude="zoomOutButton"><button type="button">Zoom Out</button></div> 
    <div ng-click="schedulerCtrl.zoomIn()" ng-transclude="zoomInButton"><button type="button">Zoom In</button></div> 
  </div>
</div>

<div class="srow" ng-if="schedulerCtrl.hasInvalidSchedule">
  One or more of the schedules is invalid! Please contact service.
</div>