<div class="labels">
  <div class="srow text-right"></div>
  <div class="schedule-animate" ng-repeat="item in schedulerCtrl.items" inject></div>
</div>

<div class="schedule-area-container">
  <div class="schedule-area">

    <div class="srow timestamps">
      <hourly-grid class="grid-container"></hourly-grid>
    </div>

    <div class="srow schedule-animate" ng-repeat="item in schedulerCtrl.items">
      <hourly-grid class="grid-container striped" no-text></hourly-grid>
      <multi-slider index="{{$index}}"></multi-slider>
    </div>
  </div>
</div>
