<div class="labels">
  <div class="srow timestamps"></div>
  <div class="srow schedule-animate" ng-repeat="item in schedulerCtrl.items">
    {{ item.label }}
  </div>
</div>

<schedule-area-container>
  <div class="schedule-area">

    <div class="srow timestamps">
      <hourly-grid class="grid-container"></hourly-grid>
    </div>

    <div class="srow schedule-animate" ng-repeat="item in schedulerCtrl.items">
      <interval-grid class="grid-container striped" no-text></interval-grid>
      <multi-slider config="schedulerCtrl.config" item="item" index="$index"></multi-slider>
    </div>
  </div>
</schedule-area-container>
