<div class="ghost-wrapper" config="multiSliderCtrl.config" rr-handle ondragstart="multiSliderCtrl.onGhostWrapperMouseDown()" ondragstop="multiSliderCtrl.onGhostWrapperMouseUp()" ondrag="multiSliderCtrl.onGhostWrapperMouseMove()">
    <rr-ghost-slot class="slot"
                   ng-if="multiSliderCtrl.item.canRenderGhost()"
                   ng-class="{
                      active: multiSliderCtrl.item.$renderGhost,
                      nullEnd: multiSliderCtrl.config.nullEnds
                   }"
                   ng-style="multiSliderCtrl.getGhostSlotStyle()">
        <div class="slotWrapper">
            <div class="middle fullWidth">
                <span ng-if="!multiSliderCtrl.config.nullEnds">{{ multiSliderCtrl.ghostValues.start | rrWeeklySchedulerTimeOfDay }} - {{ multiSliderCtrl.ghostValues.end | rrWeeklySchedulerTimeOfDay }}</span>
                <span ng-if="multiSliderCtrl.config.nullEnds">{{ multiSliderCtrl.ghostValues.start | rrWeeklySchedulerTimeOfDay }} until</span>
            </div>
        </div>
    </rr-ghost-slot>

    <rr-weekly-slot class="slot {{ schedule.$class }}"
                config="multiSliderCtrl.config"
                get-delta="multiSliderCtrl.pixelToVal(pixel)"
                drag-schedule="multiSliderCtrl.dragSchedule" 
                item="multiSliderCtrl.item"
                ng-class="{
                    active: schedule.$isActive,
                    disable: !multiSliderCtrl.item.canEditSchedule(schedule),
                    nullEnd: schedule.end === null,
                    pending: schedule.$isEditing
                }"
                ng-repeat="schedule in multiSliderCtrl.item.schedules"
                ng-model="schedule"
                ng-style="multiSliderCtrl.getSlotStyle(schedule)"
                edit-schedule="multiSliderCtrl.editSchedule(schedule)"
    ></rr-weekly-slot>
</div>